* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}
h1 {
  text-align: center;
  margin-top: 30px;
  color: yellow;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}
.game {
  text-align: center;
  justify-content: center;
  margin: 10px auto 30px auto;
  border: 2px solid white;
  height: 600px;
  width: 900px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.score {
  color: white;
  font-weight: bold;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  width: 35%
}
.infoBox {
  color: yellow;
  font-size: 20px;
  height: 8%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
  padding: 10px auto;
}
.start {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  height: 16%;
  padding: 35px 10px;
  width: 100%;
  background-color: red;
  box-shadow: 5px 5px 0 white;
  border-color: white;
}
.start:active {
  top: 5px;
  box-shadow: none;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: -5px;
}
.info > p {
  margin: 10px auto;
  font-family: 'Press Start 2P', cursive;
  height: 5%;
}
p {
  color: white;
  font-weight: bold;
}
timer {
  color: white;
  font-weight: bold;
}
.table{
  border: 2px solid white;
  width: 80%;
  height: 20%;
  font-family: 'Press Start 2P', cursive;
}
.table > p {
  font-family: 'Press Start 2P', cursive;
  color: white;
}
.label {
  margin-bottom: 10px;
  padding-top: 20px;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  margin-top: 0;
  width: 100%;
  height: 50%;
  justify-content: center;
  padding: 10px 10px;
}
.up, .down, .left, .right {
  font-size: 25px;
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 20px auto;
  height: 40px;
  padding: 5px 10px;
  box-shadow: 5px 5px 0 white;
}
.sideways {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.up.active {
  box-shadow: none;
  margin: 5px -5px -5px 5px;
}
.down.active {
  box-shadow: none;
  margin: 5px -5px -5px 5px;
}
.right.active {
  box-shadow: none;
  margin: 5px 5px -5px 5px;
}
.left.active {
  box-shadow: none;
  margin: 5px 5px -5px 15px;
}
.up, .down {
  width: 65%;
}
.left, .right {
  width: 40%;
  margin: 0 10px;
}
.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  box-shadow: 0 0 0 2px White;
}
.gridSquare {
  width: 25px;
  height: 25px;
}
.food {
  background-image: radial-gradient(white 15%, transparent 20%);
}
.warp {
  background-color: #00004d;
  border: 1px solid black;
}
.pacman {
  background-image: url('../pacWhole.png');
  background-size: contain;
}
.pacmanUp {
  background-image: url('../pacUp.png');
  background-size: contain;
}
.pacmanRight {
  background-image: url('../pacRight.png');
  background-size: contain;
}
.pacmanDown {
  background-image: url('../pacDown.png');
  background-size: contain;
}
.pacmanLeft {
  background-image: url('../pacLeft.png');
  background-size: contain;
}
.wall {
  background-color: #04a303;
  border: 0.5px solid black;
}
.ghostOne {
  background-color: red;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
    background-image: radial-gradient(black 20%, transparent 20%);
    background-position: 10px 0, 10px 10px;
    background-size: 10px 20px;
}
.ghostTwo {
  background-color: #00ffff;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostThree {
  background-color: #ffa31a;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostFour {
  background-color: pink;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostFlee{
  background-color: white;
    border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostDead{
  background-color: grey;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.pill {
  background-image: radial-gradient(orange 30%, transparent 20%);
}
