* {
  box-sizing: border-box;
}
body {
  margin: 0;
background-color: black;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.game {
  text-align: center;
  justify-content: center;
  margin: 10px auto 100px auto;
  border: 2px solid white;
  height: 600px;
  width: 900px;
  padding: 40px;
  display: flex;
  justify-content: space-between;


}
.score {
  color: white;
  font-weight: bold;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 30%
}
.infoBox {
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  height: 40%;
  font-family: 'Press Start 2P', cursive;
}
.start {
  color: white;
  font-family: 'Press Start 2P', cursive;
  height: 20%;
  padding: 35px 10px;
  margin: 20px auto;
  width: 80%;
  border: 2px solid white;
}
.info > p {
  margin: 20px auto;
  font-family: 'Press Start 2P', cursive;
  height: 20%;
}
p {
  color: white;
  font-weight: bold;
}
timer {
  color: white;
  font-weight: bold;
}
.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  box-shadow: 0 0 0 2px White;
}

.gridSquare {
  width: 25px;
  height: 25px;
}
.food {
  background-image: radial-gradient(white 15%, transparent 20%);
}
.warp {
  background-color: #00004d;
  border: 1px solid black;
}
.pacman {
  background-color: Yellow;
  border: 1px solid black;
  border-radius: 20px;



}
.wall {
  background-color: #04a303;
  border: 0.5px solid black;
}
.ghostOne {
  background-color: red;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
    background-image: radial-gradient(black 20%, transparent 20%);
    background-position: 10px 0, 10px 10px;
    background-size: 10px 20px;
}
.ghostTwo {
  background-color: #00ffff;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostThree {
  background-color: #ffa31a;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostFour {
  background-color: pink;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostFlee{
  background-color: white;
    border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.ghostDead{
  background-color: grey;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  background-image: radial-gradient(black 20%, transparent 20%);
  background-position: 10px 0, 10px 10px;
  background-size: 10px 20px;
}
.pill {
  background-image: radial-gradient(orange 30%, transparent 20%);
}
