* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}
.game {
  text-align: center;
  justify-content: center;
  margin: 10px auto 100px auto;
  border: 1px solid black;
  height: 600px;
  width: 800px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.info {
  display:
}

.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.gridSquare {
  width: 25px;
  height: 25px;
}

.warp {
  background-color: #fafafa;
}
.pacman {
  background-color: green;
}

.food {
  background-color: yellow;
}

.wall {
  background-color: grey;
}

.ghostOne {
  background-color: red;
}
.ghostTwo {
  background-color: purple;
}
.ghostThree {
  background-color: brown;
}
.ghostFour {
  background-color: black;
}

.pill {
  background-color: orange;
}
